.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 1184px;
  min-width: 320px;
  margin: auto;
}
