.lead {
  max-width: calc(100% - (148px + 148px));
  margin: auto;
  margin-bottom: 92px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - (48px + 48px));
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
