.cover {
  text-decoration: none;
  max-width: 100%;
  min-height: 740px;
  margin: auto;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    min-height: 200px;
  }
}
