.cover__overlay {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity .5s ease-out;
  position: absolute;
}

.cover:hover .cover__overlay {
  opacity: 0.5;
}
