.cover__overlay {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  width: 100%;
  z-index: 2;
  background-color: rgba(16, 17, 18, .3);
  transition: background-color .8s ease;
}

.cover:hover .cover__overlay {
  background-color: rgba(16, 17, 18, .8);
}

